@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
nav{
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
   
    
}

a{
    text-decoration: none;
    color: rgba(34,54,69,.8);
    font-weight: 600;

}
a:hover{
    color: red;
}
footer {
    background-color: rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
footer div li{
    font-weight: 550;
    list-style: none;
    color: white;
}
footer div{

    margin-left: auto;
    padding: 10px;
    display: inline-block;
}

.copyright{
    color: white;
    margin-left: 55%;
}