<link href="/css/signin.css" rel="stylesheet">
<main class="form-signup">
<div class="card">
      <div class="info">

        <h2>Welcome Back</h2>

        <p style ="color:grey">Welcome back! Please enter your details.</p>

      <form class="Login" action="/user/login" method="post">
        <h3>Email</h3>
        <input type="email" name="email" placeholder="Enter your email">
        <h3>Password</h3>
        <input type="password" name="password">
        <input type="Submit" class="signIn" name="SignIn" value="Sign In">

      </form>
      <br>

      <p style="color:grey;">Don't have an account? <a href='/signup' class="signUp"style="text-decoration:none;color:black">Sign Up for free</a></p>

      </div>
      <div class="image">
        <div class="text" style="padding:1rem;color:white">
          <h3>" Found the perfect college for myself and you can too"</h3>
          <h2>Abrahm</h2>
          <h5>Student at Georgia Tech </h5>
        </div>
      </div>
</div>
</main>
