<link rel="stylesheet" href="/css/signup.css">
<img src="/image/people.jpg" width="80%" style="position:relative;left:10%;right:50%;">
    <div class="card">
      <h1 style="color:black;">Just a few steps away ! </h1>
      <form class="signupForm" action="user/signup" id="signup"  method="post">
        First Name
        <input type="text" id="firstName" name="firstName">
        <br>
        Last Name
        <input type="text" id="lastName" name="lastName">
        <br>
        Email
        <input type="email" id="email" name="email">
        <br>
        <div id="emailAlert"></div>
        <br>
        password
        <input type="password" id="password" name="password">
        <br>
        <div id="passAlert"></div>
        <br>
        confirm password
        <input type="password" id="confirmPassword" name="confirmPassword">
        <br>
        <input class="submit" type="submit">
      </form>

    </div>


<script src="/script/signupForm.js"></script>
