{{>header}}
<form id="searchForm">
    <input id="searchInput"/>
    <button id="searchButton"> search </button>
</form>
<section  id="container">
</section>
<button id="loadMore">Load More</button>
<script src="/script/searchResults.js">
</script>
{{>footer}}
